/* ------- RESET CSS ------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --footer: #0B0B0B;
    --preto: #212529;
    --laranja: #FF8105;
    --cinza: #E9ECEF;
    --verde: #054B30;
    --vermelho: #660202;
}

.container-grid {
    width: 78%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-image: url(./Img/FundoSite.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ------- RECUSA AO CHAMADO ------- */
.recusa {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.recusa-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.recusa h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 500;

    color: var(--laranja);
}

.recusa p {
    max-width: 850px;
    margin-top: 45px;

    font-family: "Poppins", sans-serif;
    font-size: 29px;
    line-height: 1.5;
    font-weight: 300;

    color: #FFFFFF;
}

.recusa p strong {
    font-weight: 600;
}

.recusa-botoes {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 105px;
}

.btn-sair,
.btn-continuar {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    width: 275px;
    height: 88px;

    border-radius: 6px;
    border: 2px solid #FFFFFF;

    color: #FFFFFF;

    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;

    cursor: pointer;

    transition:
        0.3s ease,
        transform 0.2s ease,
        box-shadow 0.3s ease;
}


.btn-sair {
    background: var(--vermelho);

    box-shadow:
        0 0 12px rgba(102, 2, 2, 0.5);

}

.btn-continuar {
    background: var(--verde);

    box-shadow:
        0 0 12px rgba(5, 75, 48, 0.5);
}

.btn-sair:hover {
    transform: translateY(-3px);

    box-shadow:
        0 0 18px rgba(255, 255, 255, 0.2),
        0 0 22px rgba(255, 255, 255, 0.8);
}


.btn-continuar:hover {
    transform: translateY(-3px);

    box-shadow:
        0 0 18px rgba(255, 255, 255, 0.2),
        0 0 22px rgba(255, 255, 255, 0.8);
}

.btn-sair:active,
.btn-continuar:active {
    transform: scale(0.97);
}